einops==0.6.1
einops-exts==0.0.4
timm==0.6.13
gradio==3.35.2
gradio_client==0.2.9
markdown2[all]
numpy
requests
tokenizers==0.15.0
torch==2.0.1
shortuuid
httpx==0.24.0
deepspeed==0.9.5
peft==0.4.0
transformers==4.36.2
accelerate==0.21.0
bitsandbytes==0.41.0
scikit-learn==1.2.2
sentencepiece==0.1.99
librosa
soundfile